<!DOCTYPE html>
<html>
<head>
    <title>Create Student</title>
</head>
<body>

<h2>Add New Student</h2>

<form method="POST">
    {% csrf_token %}

    <label>Name:</label><br>
    <input type="text" name="name" required><br><br>

    <label>Email:</label><br>
    <input type="email" name="email" required><br><br>

    <label>Gender:</label><br>
    <select name="gender" required>
        <option value="">Select Gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
    </select><br><br>

    <label>Phone:</label><br>
    <input type="text" name="phone" required><br><br>

    <button type="submit">Save</button>
</form>

<br>

<a href="{% url 'student_list' %}">Back to List</a>

{% if messages %}
    {% for message in messages %}
        <script>
            alert("{{ message }}");
        </script>
    {% endfor %}
{% endif %}

</body>
</html>
