<!DOCTYPE html>
<html>
<head>
    <title>Edit Student</title>
</head>
<body>

<h2>Edit Student</h2>

<form method="POST">
    {% csrf_token %}

    <label>Name:</label><br>
    <input type="text" name="name" value="{{ student.name }}" required><br><br>

    <label>Email:</label><br>
    <input type="email" name="email" value="{{ student.email }}" required><br><br>

    <label>Gender:</label><br>
    <select name="gender" required>
        <option value="">Select Gender</option>

        <option value="Male" {% if student.gender == "Male" %}selected{% endif %}>
            Male
        </option>

        <option value="Female" {% if student.gender == "Female" %}selected{% endif %}>
            Female
        </option>
    </select><br><br>

    <label>Phone:</label><br>
    <input type="text" name="phone" value="{{ student.phone }}" required><br><br>

    <button type="submit">Update</button>
</form>

<br>

<a href="{% url 'student_list' %}">Back to List</a>

{% if messages %}
    {% for message in messages %}
        <script>
            alert("{{ message }}");
        </script>
    {% endfor %}
{% endif %}

</body>
</html>
